In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('illiteracy.txt', delimiter = '\t')
df= df.drop('Country',axis=1)

In [13]:
cor_pearson = df.corr()
cor_pearson

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [14]:
cor_spearman = df.corr(method='spearman')
cor_spearman

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [20]:
df1 = pd.read_csv('water.txt', delimiter='\t')
df1.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [21]:
cor1 = df1[['hardness', 'mortality']].corr()
cor1

           hardness  mortality
hardness   1.000000  -0.654849
mortality -0.654849   1.000000

In [22]:
cor1 = df1[['hardness', 'mortality']].corr(method='spearman')
cor1

           hardness  mortality
hardness   1.000000  -0.631665
mortality -0.631665   1.000000

In [45]:
cor_south=df1[df1['location']=='South'][['hardness', 'mortality']].corr()
cor_north=df1[df1['location']=='North'][['hardness', 'mortality']].corr()
print(cor_south)
print(cor_north)
min([abs(cor_north['mortality'][0]),abs(cor_south['mortality'][0])])

           hardness  mortality
hardness   1.000000  -0.602153
mortality -0.602153   1.000000
           hardness  mortality
hardness   1.000000  -0.368598
mortality -0.368598   1.000000

0.36859783832887183

In [46]:
import numpy as np
a = 718
b = 203
c = 515
d = 239
(a * d - b * c) / np.sqrt((a + b) * (a + c) * (b + d) * (c + d))

0.10900237458678963

In [54]:
from scipy.stats import chi2_contingency
obs = np.array([[718,203], [515,239]])
a = chi2_contingency(obs)
a

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[677.96597015, 243.03402985],
        [555.03402985, 198.96597015]]))

In [55]:
def proportions_diff_confint_ind(sample1, sample2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)
    
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = len(sample1)
    n2 = len(sample2)
    
    p1 = float(sum(sample1)) / n1
    p2 = float(sum(sample2)) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [57]:
import scipy
data1 = np.hstack((np.ones(718), np.zeros(203)))
data2 = np.hstack((np.ones(515), np.zeros(239)))
print("95%% confidence interval for a difference between proportions: [%f, %f]" %\
      proportions_diff_confint_ind(data1, data2))

95% confidence interval for a difference between proportions: [0.053905, 0.139222]

In [58]:
print("p-value: %f" % proportions_diff_z_test(proportions_diff_z_stat_ind(data1, data2)))

p-value: 0.000008

In [61]:
a = np.array([[197, 111, 33],
                  [382, 685, 331],
                  [110, 342, 333]])
chi2_contingency(a)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

In [67]:
import numpy as np
np.sqrt(293.68311039689746/(2*sum(sum(a))))

0.2412013934500338